@font-face {
    font-family: 'coolvetica';
    src: url('./coolveticaRg.otf') format('openyype'),
}

.menu {
    -fx-background-color: #31263e;
    -fx-alignment: center;
    -fx-background-radius: 10;
}

.text {
    -fx-text-fill: #F2F3AE;
    -fx-font-family: coolvetica;
    -fx-font-size: 20;
    -fx-font-weight: Bolder;
}

.actionButton {
    -fx-background-color: #F4442E;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, derive(#F4442E, -20%), 0, 0, 3, 3);

    -fx-text-fill: #F2F3AE;
    -fx-font-family: coolvetica;
    -fx-font-size: 20;
    -fx-font-weight: Bolder;
}

.actionButton:hover {
    -fx-background-color: derive(#F4442E, -10%);
    -fx-text-fill: derive(#F2F3AE, -10%);
}

.actionButton:pressed {
    -fx-background-color: derive(#F4442E, -20%);
    -fx-text-fill: derive(#F2F3AE, -20%);
}

.inputField {
    -fx-background-color: #44355B;

    -fx-text-fill: #8876A2;
    -fx-font-weight: bold;
}

.inputField .content {
    -fx-background-color: #44355B;
    -fx-background-radius: 0;
}

.addressList {
    -fx-background-color: #44355B;
    -fx-background-radius: 10;
}

.addressList .text{
    -fx-font-size: 12;
}

.list-cell {
    -fx-background-color: #44355B;
    -fx-padding: 5;

    -fx-text-fill: #F2F3AE;
    -fx-font-family: coolvetica;
}

.list-cell:hover {
    -fx-background-color: derive(#44355B, -20%);
}

.removeButton {
    -fx-background-color: #F4442E;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, derive(#F4442E, -20%), 0, 0, 1, 1);

    -fx-text-fill: #F2F3AE;
    -fx-font-family: coolvetica;
    -fx-font-size: 20;
    -fx-font-weight: Bolder;
}

.removeButton:hover {
    -fx-background-color: derive(#F4442E, -10%);
    -fx-text-fill: derive(#F2F3AE, -10%);
}

.removeButton:pressed {
    -fx-background-color: derive(#F4442E, -20%);
    -fx-text-fill: derive(#F2F3AE, -20%);
}